@use 'assets/abstracts' as *;

.CustomDownloadLink {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .entry_title {
    font: var(--text-small2);
    color: $color-black;
  }
  .entry_upload {
    width: 100%;
    cursor: default;
    :global(.MuiOutlinedInput-notchedOutline) {
      border-color: $color-primary-slate-m !important;
    }
    :global(.MuiInputBase-root) {
      cursor: default;
      padding: 0;
      @include padding-left(16px);
      font: $text-placeholder;
      color: $color-gold;

      :global(.MuiInputAdornment-root) {
        cursor: default;
        margin: 0;
      }
      :global(.Mui-readOnly) {
        cursor: default;
      }

      .delete_icon_wrapper {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: $color-primary-slate-m;
          left: 0px;
          top: 0px;
        }

        &:hover {
          .delete_icon {
            // display: none;
            background-color: $color-gold;
            path {
              fill: white;
            }
          }
          &::after {
            visibility: hidden;
          }
        }
      }
      .upload_document {
      }

      .size_text {
        font: var(--text-small2);
        color: $color-primary-slate-m;
        cursor: default;
        padding: 0;
        @include padding-right(16px);
      }
    }
  }
}
