@use "src/assets/scss/componentBase" as *;

.NoDataComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 15px;

  .noDataImage {
    max-width: 100%;
  }

  .loaderText {
    // font-family: Vollkorn;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    color: #55142d;
    margin-top: 14px;
    margin-bottom: 16px;
    transform: uppercase;
  }

  .noDataText {
    // font-family: Vollkorn;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #c57249;
    transform: uppercase;
  }
}
